@import "tailwindcss";

@font-face {
  font-family: 'Absans';
  src: url('/fonts/absans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-absans: "Absans", sans-serif;
}